<nav>
    <div class="navItems">
        <h3>Matlista</h3>
        <svg xmlns="http://www.w3.org/2000/svg" height="50px" viewBox="0 -960 960 960" width="50px" fill="#00000" onclick="openNav()"><path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/></svg>
    </div>
    <div class="sidebar">
        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#00000" onclick="closeNav()"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg>
        <ul>
            <li><a href="/">Hem</a></li>
            <li><a href="/dishes/all">Alla maträtter</a></li>
            <li><a href="/dishes/weekend">Helgmat</a></li>
            <li><a href="/dishes/regular">Vardagsmat</a></li>
        </ul>
    </div>
</nav>