{% extends "components/layout.njk" %}
{% block content %}

<h2>Om Matlistan</h2>
<p>"Vad ska vi äta till lunch/middag" är förmodligen den mest ställda frågan i min familj. Trots att vi äter mat varje dag verkar ingen ändå kunna komma på något bra matförslag. En dag lyssnade jag på en podcast i vilken en av personerna hade skapat ett kalkylark som han ämnade fylla med olika matförslag. Det här lät som en bra idé, så jag memorerade vad han sa och skapade mitt eget kalkylark. Samma idé, men med lite annorlunda upplägg för att bättre passa min familjs behov. Tyvärr är inte Google Sheets gränssnitt det bästa på mobil, vilket var den enhet som Matlistan främst skulle visas på. Matlistan kom därför att bli en flopp.</p>
<p>Nästan ett år senare fick vi en uppgift i kursen Webbserverprogrammering 1 och Webbutveckling 2 att skapa en webbsida som använde de tekniker vi lärt oss under året; det vill säga en databas. Min lärare kom med förslaget att göra en mathemsida, och det var då jag kom ihåg Matlistan. Att göra Matlistan till en webbsida lät som en fantastisk idé! Dessutom hade jag redan datan till databasen i det gamla kalkylarket. Det var bara att föra över det till min databas.</p>
<p>Och nu är Matlistans gränssnitt mycket mer mobilanpassat, samt mycket roligare att titta på än ett tråkigt kalkylark! Om någon utanför min familj av någon skum anledning skulle titta förbi på denna sida, så måste jag tyvärr meddela att den här sidan är ämnad för min familj och endast min familj. Andra personer kommer inte att få inloggningen och kommer därmed inte kunna lägga till eller redigera rätterna i Matlistan. Du är givetvis mer än välkommen att ta inspiration av mitt upplägg (det var ju inte ens mitt till att börja med), eller hämta matidéer härifrån!</p>

{% endblock %}