{% extends "components/layout.njk" %}
{% block content %}

<h2>Lägg till en maträtt</h2>
<p>Skriv in information om rätten här nedan för att lägga till den i matlistan!</p>
<hr>
{{ flash | safe }}
<form action="/dishes/add" method="post" class="dishForm">
    <label for="name">Rättens namn</label>
    <input id="name" name="name" required maxlength="150">
    <label for="main">Huvudingrediens</label>
    <input id="main" name="main" required maxlength="150">
    <label for="side">Tillbehör</label>
    <input id="side" name="side" maxlength="150">
    <span>Är rätten helgvärdig?</span>
    <div class="weekendWorthy">
        <input id="yes" name="weekendWorthy" type="radio" value="YES" required>
        <label for="yes">Ja</label>
        <input id="no" name="weekendWorthy" type="radio" value="NO" required>
        <label for="no">Nej</label>
    </div>
    <label for="otherInfo">Övrig information</label>
    <textarea id="otherInfo" name="otherInfo" rows="5" maxlength="150"></textarea>
    <input type="submit" value="Lägg till" class="submitDish">
</form>

{% endblock %}