{% extends "components/layout.njk" %}
{% block content %}

<h2>Alla maträtter</h2>
<p>Klicka på maträtten för mer information.</p>
<hr>
<ul class="dishList">
    {% for dish in dishes %}
        <li><a href="/dishes/{{ dish.id }}" class="inTextLink">{{ dish.name }} ({{ dish.side.side }})</a></li>
    {% endfor %}
</ul>

{% endblock %}