{% extends "components/layout.njk" %}
{% block content %}

<h2>{{ dish.name }}</h2>
<p>Huvudingrediens: {{ main }}</p>

{% if sides != "None" %}
    <h3>Tillbehör</h3>
    <ul>
        {% for side in sides %}
            <li>{{ side }}</li>
        {% endfor %}
    </ul>
{% endif %}

{% if otherInfo != "" %}
    <h3>Övrig info</h3>
    <ul>
        {% for info in otherInfo %}
            <li>{{ info }}</li>
        {% endfor %}
    </ul>
{% endif %}

{% if dish.weekendWorthy == "YES" %}
    <p>Den här rätten är helgvärdig.</p>
{% else %}
    <p>Den här rätten är <strong>inte</strong> helgvärdig.</p>
{% endif %}

{% if logged_in %}
    <button onclick="editDish('{{ dish.id }}')">Redigera rätt</button>
    <button class="dangerButton" onclick="removeDish('{{ dish.id }}')">Ta bort rätt</button>
{% endif %}

<script src="/scripts/dish.js"></script>
{% endblock %}