{% extends "components/layout.njk" %}
{% block content %}

<h1>Ska vi äta...</h1>
<h2><em>{{ dish.name }}</em></h2>
<p>Huvudingrediens: {{ main }}</p>
{% if sides != "None" %}
<h3>Tillbehör</h3>
<ul>
    {% for side in sides %}
        <li>{{ side }}</li>
    {% endfor %}
</ul>
{% endif %}
{% if otherInfo != "" %}
    <h3>Övrig info</h3>
    <ul>
        {% for info in otherInfo %}
            <li>{{ info }}</li>
        {% endfor %}
    </ul>
{% endif %}

{% if dish.weekendWorthy == "YES" %}
    <p>Den här rätten är helgvärdig.</p>
{% else %}
    <p>Den här rätten är <strong>inte</strong> helgvärdig.</p>
{% endif %}

<button onclick="reloadPage()">Ny rätt</button>

<script src="scripts/reroll.js"></script>
<script src="scripts/nav.js"></script>

{% endblock %}